# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
*.sdf
*.pdb
*.opensdf
*.psd
*.png
Debug/
Release/
images/*
*.sh
old/
cert/
dump/
log/*
db/*
assets/backups/*
build/
chann.conf
backup.sh
*.unc-backup~
