@font-face{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url(https://waifu.cc/assets/OpenSans.eot);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: "PT Mono";
    font-style: normal;
    font-weight: 400;
    src: url(https://waifu.cc/assets/PTMono.eot);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}